body { /*Start css body (geen head)*/
  background-image: url(/images/wallpaper.jpg); /* achtergrond */
  background-repeat: no-repeat; /*de achtergrond herhaald zichzelf niet als er nog ruimte over is*/
  background-size: cover;} /*voledige pagina heeft de achtergrond (altijd juiste groote)*/
ul { /*Dit is de balk boven in de website per pagina waar je op kan kliken om op een andere pagina te zitten.*/
  list-style-type: none; /*detail om de balk te maken*/
  margin: 0; /*detail voor balk*/
  padding: 0; /*detail voor balk*/
  overflow: hidden; /*detail*/
  background-color: #333333; /*kleur achtergrond*/
  position: sticky; /*positie balk*/
}
a:link { /*link*/
  color: white; /*tekstkleur*/
}

ul li { /* Elk <li>-element in de lijst (<ul>) wordt naast elkaar geplaatst in plaats van onder elkaar */
  float: left;
}

/* De <a>-elementen (links) binnen de lijstitems krijgen een blokweergave,
   zodat de hele knop klikbaar wordt, niet alleen de tekst */

ul li a {
  display: block; 
  color: white;   /* De tekstkleur van de links wordt wit */
  text-align: center;   /* De tekst in de link wordt horizontaal in het midden uitgelijnd */
  padding: 14px 16px;   /* Ruimte binnen de link: 14px boven/onder, 16px links/rechts */
  text-decoration: none;    /* Verwijdert de standaard onderstreping van links */
}
/* Wanneer je met de muis over een link in de lijst gaat (<a> in <li>) */
ul li a:hover {
  background-color: #111111; /* De achtergrondkleur verandert naar een donkergrijze tint */
  border: 2px solid rgb(255, 238, 238);   /* Er verschijnt een lichte rand van 2 pixels rond de link */
  border-radius: 5px; /* De hoeken van de link worden afgerond (zachte randen) */
}
/* Opmaak voor alle <h1>-koppen (hoofdtitels) op de pagina */
h1 {
  color: rgb(123, 87, 215); /* Geeft de tekst een paarse kleur */
  margin-left: 20px;   /* Zorgt voor 20px ruimte tussen de linkerkant van de pagina en de titel */
}

p { /* Opmaak voor alle <p>-elementen (paragrafen) op de pagina */
  color: rgb(255, 255, 255);
}
/* Zet de tekstkleur van paragrafen op wit */
.test { /*Dit is voor een clas dat alleen een bepaalde pagina met dat woord temaken heeft (class=.test)*/

  background-image: url(/images/binairbackground.jpg);} /*andere achtergrond*/
h1 {
  color: rgb(255, 255, 255); /*tekstkleur*/
  margin-left: 20px;
  text-shadow: 2px 2px rgb(0, 0, 0); /*donkere tekst schawduw*/
}

div { /*border voor tekst*/
  color: rgb(255, 255, 255); /*kleur*/
  border-style: solid; /*type rand*/
  background-color: #111111; /*kleur*/
  border-radius: 12px; /*afstand tekst*/
  padding: 5px; /*afstand tekst*/
}
.test2 { /*andere class*/
  background-image: url(/images/rgb.jpg); /*andere achtergrond*/
}

.test3 { /*andere class*/
  background-image: url(/images/ivuv.jpg); /*andere achtergrond*/
}
.test4 { /*andere class*/
  background-image: url(/images/compression.png); /*andere achtergrond*/
}





/*geen afsluiting body nodig*/