body {
  background-image: url(/images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;}
ul { /*zo doe je commentaar*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: sticky;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
  border: 2px solid rgb(255, 238, 238);
  border-radius: 5px;
}

h1 {
  color: rgb(123, 87, 215);
  margin-left: 20px;
}

p {
  color: rgb(255, 255, 255);
}

.test {
  background-image: url(/images/binairbackground.jpg);}
h1 {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

div {
  color: rgb(255, 255, 255);
  border-style: solid;
  background-color: #111111;
  border-radius: 12px;
  padding: 5px;
}
.test2 {
  background-image: url(/images/rgb.jpg);
}

.test3 {
  background-image: url(/images/ivuv.jpg);
}
.test4 {
  background-image: url(/images/compression.png);
}